.banner-bg{
   background-color:#fceae8;
   padding: 20px 40px;
}
#bg{
   background-color:#fceae8;
}
.btn-cls{
   background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.price{
   color: #ffd91e;
}
.container{
   margin-bottom: 100px;
}
.cat1, .cat2, .cat3{
   padding: 10px 30px;
   border-radius: 15px;

}
.cat1{
   background-color: #ffa500;
}
.cat2{
   background-color:   #da70d6;
}
.cat3{
   background-color:#0000ff;
}
.categories h1{
   color: white;
}
.categories img{
   width: 100px;
}
.card{
   border:none;
   border-radius: 10px;
   box-shadow:5px 5px 10px lightgray;
}
.card-footer{
   border-top: none;
   background-color: white;
}
.t-l{
   background-color:#fceae8;
}
#Contact{
   height: 300px;
}
#Contact h5{
   color:rgb(175, 169, 169);
}
footer{
  
   text-align: center;
}
